body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #444546;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}



.converter {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url('xd.jpg');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

h1 {
    color: #333;
}

.input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.number-button, .zero-button, .clear-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.number-button:hover, .zero-button:hover, .clear-button:hover {
    background-color: #2980b9;
}

.clear-button {
    background-color: #e74c3c;
}

.clear-button:hover {
    background-color: #c0392b;
}

.buttons button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #27ae60;
}

.result {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}
